.enlace{
    display: inline-block;
    background: #EB8317;
    padding: 10px;
    color: white;
    text-decoration: none;
}

header {
    background: #4CAF50;
    margin: 10px 0px 0px 0px;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.titulo{
    margin: 10px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    color: #4CAF50;
    margin: 10px;
}

.contacto, .formas-pago, .politicas {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 12px;
}